* {
    box-sizing: border-box;
}

.body_div {
    width: 1000px;
    margin: auto auto;
}

.footer {
    background-color: rgb(163, 184, 198);
    color: white;
    margin: auto auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    position: static;
}

/* 抬头背景 */
.title_img {
    display: block;
    margin: auto auto;
    width: 100%;
    height: 200px;
}

/* 页签部分 */
.tabs_div {
    margin: auto auto;
    background-color: rgba(220, 220, 220, 1);
    box-shadow: 8px 8px 5px #888888;
    box-sizing: border-box;
}

.tabs_div nav {
    display: flex;
    height: 60px;
    left: 50px;
    text-align: center;
    line-height: 20px;
    background-color: #b0ffed;
}
.tabs_div nav a {
    display: block;
    width: 150px;
    height: 100%;
    border-right: 1px solid #FFF;
    color: #518dc2;
    padding: 20px;
    text-decoration: none;
}
.tabs_div nav a:last-child {
    border-right: 0 none;
}
.tabs_div nav a:hover {
    background-color: rgb(77, 85, 76);
}
.tabs_div nav a.active {
    background-color: #c4f07d;
}

/* 页签内容 */
.cont {
    overflow: hidden;
    display: none;
    margin: auto auto;
    top: 0px;
    /* width: 1000px; */
    border: 2px solid #dcd6d6;
    background-color: #FFF;
}

/* 头像 */
.head_img_div {
    display: block;
    float: right;
    height: 280px;
    background-color: rgb(244, 238, 238);
    box-shadow: 5px 5px 3px #888888;
}
.head_img_div img {
    width: 207px;
    height: 252px;
}
.head_img_div div {
    position: relative;
    left: 5px;
    bottom: 2px;
    font-size: 14px;
    color: black;
}
/* 信息 */
.info_div {
    display: block;
    /* width: 1300px; */
    margin-left: 10px;
    /* border: brown solid 3px; */
}


/* 表格 */
.table_title_div {
    font-size: 20px;
    margin-left: 10px;
}
.info_table
{
    border-collapse:collapse;
    margin-left: 10px;
}
.info_table td, .info_table th 
{
	border:1px solid #cccccb;
	padding:3px 7px 2px 7px;
}
.info_table th 
{
    font-weight: 20;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
    color:#000000;
    background-color: rgb(235, 233, 233);
}
.info_table div {
    font-size: 20px;
    margin-left: 5px;
}
.info_table p {
    font-size: 20px;
    margin-left: 5px;
}

/* 星月夜 */
.starsky_img_div {
    display: block;
    float: right;
    margin-top: 20px;
    width: 384px;
    height: 304px;
}
.starsky_img_div img {
    width: 90%;
    height: 90%;
    margin-left: 20px;
    /* margin-top: 20px; */
    box-shadow: 5px 5px 3px #888888;
}
.starsky_text_div {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

/* 向日葵 */
.sunflower_img_div {
    display: block;
    float: right;
    margin-top: 20px;
    width: 384px;
    height: 304px;
}
.sunflower_img_div img {
    width: 90%;
    height: 90%;
    margin-left: 20px;
    /* margin-top: 20px; */
    box-shadow: 5px 5px 3px #888888;
}
.sunflower_text_div {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}